<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Econ and Machine Learning - Andreas Keller Leth Laursen</title>
        <meta name="description" content="Personal web page of Andreas Keller Leth Laursen with info and a weblog.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="Blog posts" href="/feeds/posts/" >

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="jumbotron">
            <div class="container">
                <h1 id="headline">Econ and Machine Learning</h1>
                <p>Andreas Keller Leth Laursen</p>
            </div>      
        </div>

        <div class="masthead">
            <div class="container">
                {% include navigation.html %}
            </div>          
        </div>

        <div class="blog">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 blog-main">
                        {{ content }}
                    </div>

                    <div class="col-lg-3 col-md-offset-1 blog-sidebar">
                        <div class="sidebar-module sidebar-module-inset about">
                            <h4>Introduction</h4>
                            <p>I am <a href="/about/">Andreas</a>: Machine learning enthusiast, MLOps devotee, tech addict and all-round geek.</p>
                        </div>
                        <div class="sidebar-module search">
                            <form action="/search" method="GET">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" id="inputGroup"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-module archive">
                            <h4>Archive</h4>
	                        {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
	                        {% for year in postsByYear %}
	                            <h5>{{ year.name }}</h5>
	                            <ul>
	                                	{% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'"  %}
	                                {% for month in postsByMonth.items %}
	                                    <li>
	                                        <p>{{month.name}}</p>
	                                    </li>
	                                {% endfor %}
	                            </ul>
	                        {% endfor %}
                            <h5>2016</h5>
                            <ul>
                                <li>
                                    <a href="/2016/02/">
                                        February
                                    </a>
                                </li>
                                <li>
                                    <a href="/2016/03/">
                                        Marts
                                    </a>
                                </li>
                                <li>
                                    <a href="/2016/04/">
                                        April
                                    </a>
                                </li>
                                <li>
                                    <a href="/2016/05/">
                                        May
                                    </a>
                                </li>
                                <li>
                                    <a href="/2016/12/">
                                        December
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-module contact">
                            <h4>Get at me</h4>
                            <ul>
                                <li>
                                    <a href="/feeds/posts/">
                                        RSS Feed
                                    </a>
                                </li>
                                <li>
                                    <p>
                                        Weblog Archives
                                    </p>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Andreas_Keller">
                                        Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/AKLLaursen/">
                                        Github
                                    </a>
                                </li>
                                <li>
                                    <a href="https://dk.linkedin.com/in/andreas-keller-leth-laursen-40327b32">
                                        LinkedIn
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:andreas.keller@gmail.com">
                                        E-mail
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
                    
        <div class="container footer">
            <div class="row">
                <div class="span12">
                    <p>
                        Copyright &copy; Andreas Keller Leth Laursen 2015 - 2020
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
